.modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: var(--padding-basic);
  background-color: var(--background-100);
  position: fixed;
  z-index: 200;
  justify-content: space-between;
  align-items: center;
}

.closeButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: end;
}

.closeButton {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.searchBoardWrapper {
  width: 80%;
  height: 90%;
}
