.wrapper {
  width: 70%;
  height: 100vh; /**/
  margin: 0 auto;
}

.bookContainer {
  width: 100%;
  height: 400px;
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: var(--margin-large) 0;
}

.bookItem {
  position: relative;
  border-radius: 30px;
  border: var(--border-radius-1) solid var(--primary-500);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-large);
  flex-direction: column;
}

.bookItem img {
  height: 100%;
}

.subContainerBook {
  padding: var(--padding-small);
}


.subTitle {
  border-radius: var(--border-radius-10);
  border: var(--border-radius-1) solid var(--primary-400);
  box-shadow: var(--box-shadow-small);
  padding: var(--padding-small);
  margin: var(--margin-medium) 0;
  font-size: var(--font-size-24);
}

.subHeader {
  width: 100%;
  border-bottom: solid 1px var(--primary-400);
  min-width: 260px;
  display: flex;
  justify-content: space-between;
  margin: var(--margin-large) 0;
  padding: var(--padding-small) 0;
  font-size: var(--font-size-20);
}

.bottomWrapper > div {
  /* position: static; */
  padding-top: var(--padding-huge);
  padding-right: var(--padding-medium);
}

.subContainerReview {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  padding: var(--padding-small) 0;
}