.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  scroll-behavior: smooth;
}

.section {
  width: var(--width-full);
  height: var(--height-full);
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-bottom: var(--padding-medium);
}

.videoWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: contain;
  display: flex;
  flex-direction: column;
}

.mainVideo {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 50;
}

.title {
  position: absolute;
  font-size: 90px;
  color: var(--background-100);
  font-weight: 700;
  line-height: 110px;
  opacity: 30%;
  z-index: 60;
  top: 30%;
  left: 10%;
}

.textOverLay {
  color: rgba(255, 255, 255, 0.3);
  opacity: 100%;
  z-index: 70;
  font-size: 90px;
}

.scrollWrapper {
  position: relative;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--background-100);
  font-size: 20px;
  z-index: 60;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}

.scroll {
  width: 30px;
  height: 30px;
}

.reviewWrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.subTitle {
  box-sizing: border-box;
  font-size: 40px;
  margin: var(--margin-large);
}

.cardWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button {
  width: 20%;
  min-width: 200px;
  height: 5vh;
  background-color: var(--primary-200);
  color: white;
  border-radius: var(--border-radius-30);
  box-sizing: border-box;
  padding: var(--padding-medium);
  margin: var(--margin-medium);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noContentWrapper {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  margin: var(--margin-large) 0;
  font-size: var(--font-size-28);
}

@media (max-width: 1800px) {
  .reviewWrapper {
    width: 90%;
  }
}

@media (max-width: 1280px) {
  .title {
    font-size: 70px;
    line-height: 80px;
  }

  .scrollWrapper {
    font-size: var(--font-size-20);
  }
}
