.btn{
  background-color: var(--primary-200);
  color: white;
  border-radius: var(--border-radius-30);
  padding: var(--padding-small) var(--padding-medium);
  margin: var(--margin-small) var(--padding-medium);
  cursor: pointer;
}