.wrapper {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 80%;
  right: 1%;
}

@media (max-width: 500px) {
  .wrapper {
    top: 70%;
    right: 0%;
  }
}
