.wrapper {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 170px;
  right: 10px;
}

@media (max-width: 500px) {
  .wrapper{
    top: 315px;
    right: 15px;
  }
}
