.cardFront {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: var(--padding-basic);
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topWrapper {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottomWrapper {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-top: var(--margin-small);
  padding-left: var(--padding-small);
  padding-right: var(--padding-tiny);
}

.imageWrapper {
  width: 100%;
  height: 60%;
  position: relative;
}

.imageWrapper > img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--border-radius-5);
}

.bookIcon {
  width: 15px;
  height: 15px;
  opacity: 50%;
  display: block;
}

.bookIconWrapper {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-100);
  border-radius: var(--border-radius-30);
  box-shadow: var(--box-shadow-small);
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  transition: var(--transition-basic);
}

.bookGrayText {
  display: none;
  color: var(--primary-500);
  font-size: var(--font-size-12);
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  text-align: center;
}

.bookIconWrapper:hover {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-100);
  border-radius: var(--border-radius-30);
  box-shadow: var(--box-shadow-small);
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.bookIconWrapper:hover .bookIcon {
  display: none;
}

.bookIconWrapper:hover .bookGrayText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 90%;
  height: 40%;
  word-break: keep-all;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-16);
}

.flexBox {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  gap: 8%;
  padding-right: var(--padding-tiny);
}

.justifyStart {
  width: 65%;
  justify-content: start;
}

.justifyEnd {
  width: 35%;
  justify-content: end;
}

.profileImageWrapper {
  width: 30px;
  height: 30px;
}

.profileImageWrapper > img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: var(--border-radius-30);
  cursor: pointer;
}

.nickname {
  font-size: var(--font-size-14);
  cursor: pointer;
}

.likeIcon {
  width: 15px;
  opacity: 60%;
  cursor: pointer;
}

.grayText {
  color: var(--primary-500);
  font-size: var(--font-size-12);
}

.menuIcon {
  width: 10px;
  height: 10px;
  opacity: 30%;
}

.menuIconWrapper {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.menuIconWrapper:hover {
  background-color: rgba(194, 194, 194, 0.3);
  border-radius: var(--border-radius-30);
  box-shadow: var(--box-shadow-small);
}
