.regular {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 280px));
  justify-content: center;
  row-gap: 1%;
  column-gap: 3%;
  width: 100%;
}

.main {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: var(--margin-basic);
  gap: 3%;
}

@media (max-width: 1280px) {
  .regular {
    gap: 20px;
  }
}
