.regular {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 280px));
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: calc((280px * 4) + (20px * 3));
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: var(--margin-basic);
  gap: 3%;
}
