.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-basic);
}

.flexBox {
  display: flex;
  align-items: center;
}

.line {
  box-sizing: border-box;
  width: 100%;
}

.nickname {
  text-decoration: underline;
  cursor: pointer;
}
