.button {
  background: none;
  color: var(--primary-500);
  margin: var(--margin-small);
  cursor: pointer;
}

.selected {
  background: none;
  color: var(--primary-600);
  margin: var(--margin-small);
  cursor: pointer;
}
