.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-400);
  background-color: var(--background-100);
  padding: var(--padding-small);
  cursor: pointer;
  margin: var(--margin-small);
}

.circle img {
  width: 30px;
  height: 30px;
  opacity: 30%;
}

@media (max-width: 1200px) {
  .circle {
    display: none;
  }
}