.circle {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-400);
  background-color: var(--background-100);
  padding: var(--padding-small);
  cursor: pointer;
  margin: var(--margin-small);
}

.circle img {
  width: 1.5vw;
  height: 1.5vw;
  opacity: 30%;
}
