.btn {
  color: white;
  border-radius: var(--border-radius-30);
  padding: var(--padding-small) var(--padding-medium);
  margin: var(--margin-small) var(--padding-medium);
  cursor: pointer;
}

.blue {
  background-color: var(--primary-200);
}

.black {
  background-color: var(--primary-600);
}

.primary100 {
  background-color: var(--primary-100);
}
