.tabsContainer {
  position: relative;
  width: 20%;
  min-width: 200px;
}

.tabs {
  display: flex;
}

.tab {
  flex: 1;
  text-align: center;
  padding: var(--padding-small) 0;
  cursor: pointer;
  transition: var(--transition-basic);
}

.tab:hover {
  background: var(--background-200);
}

.underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  background: var(--primary-600);
  transition: var(--transition-basic);
}

@media (max-width: 500px) {
  .tabsContainer {
    width: 50%;
    min-width: 130px;
  }
}
