.card {
  perspective: 100%;
  border: solid 1px var(--primary-400);
  border-radius: var(--border-radius-10);
  box-shadow: var(--box-shadow-medium);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: var(--transition-transform);
  transform-style: preserve-3d;
  box-sizing: border-box;
  margin-bottom: var(--margin-small);
}

.card:hover {
  z-index: 1;
}

.big {
  min-width: 320px;
  min-height: 420px;
}

.small {
  width: 280px;
  height: 360px;
  min-width: 280px;
  min-height: 360px;
}

.flipped {
  transform: rotateY(180deg);
}

.hide {
  display: none;
}