.card {
  perspective: 100%;
  border: solid 1px var(--primary-400);
  border-radius: var(--border-radius-10);
  box-shadow: var(--box-shadow-medium);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: transform 0.8s ease-in-out;
  transform-style: preserve-3d;
}

.big {
  width: 27%;
  height: 50vh;
}

.small {
  width: 18%;
  height: 50vh;
}

.flipped {
  transform: rotateY(180deg);
}
